extends layout.pug

block content
    include ./includes/errors.pug
    h2 Add Interesting User
    form(method='post' action='/create-interesting')
        include ./includes/form-inputs.pug
        label(for="age") Age:
        input(type='number' name='age' value=user.age)
        label(for='favoriteBeatle') Select Favorite Beatle:
        select(name='favoriteBeatle' value=user.favoriteBeatle)
            option(value='') --Please choose an option--
            if (user.favoriteBeatle === 'John')
                option(value='John' selected='selected') John
            else
                option(value='John') John
            if (user.favoriteBeatle === 'Paul')
                option(value='Paul' selected='selected') Paul
            else
                option(value='Paul') Paul
            if (user.favoriteBeatle === 'Ringo')
                option(value='Ringo' selected='selected') Ringo
            else
                option(value='Ringo') Ringo
            if (user.favoriteBeatle === 'George')
                option(value='George' selected='selected') George
            else
                option(value='George') George
            if (user.favoriteBeatle === 'Scooby-Doo')
                option(value='Scooby-Doo' selected='selected') Scooby-Doo
            else
                option(value='Scooby-Doo') Scooby-Doo
        label(for='iceCream') Likes Ice Cream:
        input(type='checkbox' name='iceCream' checked=user.iceCream)
        input(type='submit' value="Create Interesting User")
